{{template "modal.html" .}}
{{define "modalContent"}}
<div class="box">
    <form id="frmRoleCreate" role="form">
        <div class="field">
            <div class="control">
                <label class="label" for="cboApplicationAdd">Application</label>
                <select class="select" id="cboApplicationAdd">
                    {{range $rName, $_ := .Data.Options}}
                    <option value="{{$rName}}">{{$rName}}</option>
                    {{end}}
                </select>
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <label class="label">Role</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="0" name="answerAdd">Admin
                    <p class="help is-danger"></p>
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="1" name="answerAdd">Owner
                    <p class="help is-danger"></p>
                </label>
            </div>
            <div class="control">
                <label class="radio">
                    <input type="radio" value="2" name="answerAdd">User
                    <p class="help is-danger"></p>
                </label>
            </div>
        </div>
        <button id="btnCreate" class="button is-block is-success is-large is-fullwidth">Create</button>
        <p id="frmError" class="help is-danger"></p>
    </form>
</div>
{{end}}