{{template "foliopage.html" .}}
{{define "foliocontent"}}
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Profile</th>
                <th>Language</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Profile</th>
                <th>Language</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $_, $val := .Data.GetRecords.ToSlice}}
            {{$v := $val.GetValue}}
            {{$k := $val.GetKey}}
            <tr>
                <td>{{$v.Profile}}</td>
                <td>{{$v.Language}}</td>
                <td>
                    <p class="buttons">
                        <a href="/content/{{$k}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <button data-key="{{$k}}" class="button is-danger deleter">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                        </button>
                    </p>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{template "pager.html" .Data}}
</section>
{{end}}