{{template "foliopage.html" .}}
{{define "foliocontent"}}
    <section class="section">
        <table class="table is-fullwidth is-hoverable" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Registration number</th>
                <th>Contact details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Registration number</th>
                <th>Contact details</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {{range $key, $val := .Data.Records}}
                <tr>
                    <td>{{$val.V.Entity.Name}}</td>
                    <td>{{$val.V.Address.Registration}}</td>
                    <td>{{$val.V.Contact}}</td>
                    <td>
                        <p class="buttons">
                            <a href="/entity/entity/{{$val.V.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                            </a>
                            <button data-key="{{$val.V.K}}" class="button is-danger deleter">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                            </button>
                        </p>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        {{template "pager.html" .Data}}
    </section>
{{end}}