{{template "foliopage.html" .}}
{{define "foliocontent"}}
<section class="section">
    <div class="tabs is-boxed is-centered main-menu" id="nav">
        <ul>
            <li data-target="paneBasicsite" id="tabBasicsite" class="is-active">
                <a>
                    <span class="icon is-small"><i class="fa fa-image"></i></span>
                    <span>Info</span>
                </a>
            </li>
            <li data-target="paneHeader" id="tabHeader">
                <a>
                    <span class="icon is-small"><i class="fab fa-empire"></i></span>
                    <span>Headers</span>
                </a>
            </li>
            <li data-target="panePortfolio" id="tabPortfolio">
                <a>
                    <span class="icon is-small"><i class="fab fa-superpowers"></i></span>
                    <span>Portfolio</span>
                </a>
            </li>
            <li data-target="paneSocialmedia" id="tabSocialmedia">
                <a>
                    <span class="icon is-small"><i class="fa fa-film"></i></span>
                    <span>Social Media</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane is-active" id="paneBasicsite">
            {{ template "tabBasicsiteAdd.html" .}}
        </div>
        <div class="tab-pane" id="paneHeader">
            {{ template "tabHeaderAdd.html" .}}
        </div>
        <div class="tab-pane" id="panePortfolio">
            {{ template "tabPortfolioAdd.html" .}}
        </div>
        <div class="tab-pane" id="paneSocialmedia">
            {{ template "tabSocialmediaAdd.html" .}}
        </div>
    </div>
</section>
{{end}}