{{template "modal.html" .}}
{{define "modalContent"}}
    <div class="box">
        <form id="frmResourceCreate" role="form">
            <div class="field">
                <label class="label" for="txtName">Name</label>
                <div class="control">
                    <input class="input" type="text" id="txtName" required placeholder="Name"/>
                    <p class="help is-danger"></p>
                </div>
            </div>
            <div class="field">
                <label class="label" for="txtDisplayName">Display Name</label>
                <div class="control">
                    <input class="input" type="text" id="txtDisplayName" required placeholder="Display Name"/>
                    <p class="help is-danger"></p>
                </div>
            </div>
            <div class="field">
                <label class="label" for="txtSecret">Secret</label>
                <div class="control">
                    <input class="input" type="password" id="txtSecret" required placeholder="Secret" />
                    <p class="help is-danger"></p>
                </div>
            </div>
        </form>
        <button id="btnSave" class="button is-block is-success is-large">Save</button>
    </div>
{{end}}