{{template "foliopage.html" .}}
{{define "foliocontent"}}
<form id="frmResourceEdit" role="form">
    <div class="content cc">
        <div class="field">
            <div class="control">
                <button id="btnSave" class="button is-block is-success is-large">Save</button>
            </div>
        </div>
        <div class="field">
            <label class="label" for="txtName">Name</label>
            <div class="control">
                <input class="input" type="text" id="txtName" required placeholder="Name" value="{{.Data.Name}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <label class="label" for="txtDisplayName">Display Name</label>
            <div class="control">
                <input class="input" type="text" id="txtDisplayName" required placeholder="Display Name"
                    value="{{.Data.DisplayName}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <label class="label" for="txtSecret">Secret</label>
            <div class="control">
                <input class="input" type="password" id="txtSecret" required placeholder="Secret" />
                <p class="help is-danger"></p>
            </div>
        </div>

        <div class="field">
            <label class="checkbox" for="txtNewNeed">
                <input id="ltNeeds" class="checkbox" type="checkbox" id="txtNewNeed" placeholder="New Need" />
                {{range $_, $v := .Data.Needs}}
                {{$v}}
                {{end}}
            </label>
        </div>
    </div>
    </div>
</form>
{{end}}