<form id="frmContentColour" role="form">
    <hr />
    <div id="dvContentColour" class="content">
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourPrimary">Primary:</label>
                <input type="color" id="ColourPrimary" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourSecondary">Secondary:</label>
                <input type="color" id="ColourSecondary" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourTertiary">Tertiary:</label>
                <input type="color" id="ColourTertiary" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourShadows">Shadows:</label>
                <input type="color" id="ColourShadows" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourAccent">Accent:</label>
                <input type="color" id="ColourAccent" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtColourBackground">Background:</label>
                <input type="color" id="ColourBackground" value="#0000ff">
            </div>
        </div>
    </div>
</form>