<form id="frmContentSectionB" role="form">
    <hr />
    <div id="dvContentSectionB" class="content cc">
        <div class="field">
            <div class="control">
                <label class="label" for="txtContentHeader">Header</label>
                <input class="input" type="text" id="txtContentHeader" placeholder="Profile" required
                    value="{{.Data.SectionB.Heading}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtContentSection">Content</label>
                <input class="input" type="text" id="txtContentSection" placeholder="Language" required
                    value="{{.Data.SectionB.Text}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtContentImageURL">Image URL</label>
                <input class="input" type="text" id="txtContentImageURL" placeholder="Language" required
                    value="{{.Data.SectionB.ImageUrl}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtContentImageKey">Image Key</label>
                <input class="input" type="text" id="txtContentImageKey" placeholder="Language" required
                    value="{{.Data.SectionB.ImageKey}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
    </div>
</form>