<form id="frmContentBanner" role="form">
    <hr />
    <div id="dvContentBanner" class="content cc">
        <div class="field">
            <div class="control">
                <label class="label" for="uplBackground">Background</label>
                <input type="image" id="uplBannerBackground"
                class='image {{if eq (print .Data.Banner.Background) "0`0"}} is-hidden {{end}}'
                src="{{ .Identity.GetResourceURL "artifact" }}/download/{{.Data.Banner.Background}}"
                alt="Banner Background" />
            <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="uplBannerImage">Image</label>
                <input type="image" id="uplBannerImage"
                class='image {{if eq (print .Data.Banner.Image) "0`0"}} is-hidden {{end}}'
                src="{{ .Identity.GetResourceURL "artifact" }}/download/{{.Data.Banner.Image}}"
                alt="Banner Image" />
            <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtBannerHeading">Heading</label>
                <input class="input" type="text" id="txtBannerHeading" placeholder="Heading" required
                    value="{{.Data.Banner.Heading}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtBannerSubtitle">Subtitle</label>
                <input class="input" type="text" id="txtBannerSubtitle" placeholder="Subtitle" required
                    value="{{.Data.Banner.Subtitle}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
    </div>
</form>