<form id="frmContentBanner" role="form">
    <hr />
    <div id="dvContentBanner" class="content cc">
        <div class="field">
            <div class="control">
                <label class="label" for="txtBackground">Background</label>
                <input class="input" type="text" id="txtBannerBackground" placeholder="Background" required
                    value="{{.Data.Banner.Background}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtBannerImage">Image</label>
                <input class="input" type="text" id="txtBannerImage" placeholder="Image" required
                    value="{{.Data.Banner.Image}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtBannerHeading">Heading</label>
                <input class="input" type="text" id="txtBannerHeading" placeholder="Heading" required
                    value="{{.Data.Banner.Heading}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtBannerSubtitle">Subtitle</label>
                <input class="input" type="text" id="txtBannerSubtitle" placeholder="Subtitle" required
                    value="{{.Data.Banner.Subtitle}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
    </div>
</form>