<form id="frmEntityInfo" role="form">
    <hr />
    <div id="dvContentBanner" class="content">
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Secondary</label>
                <label for="colorpicker">Color Picker:</label>
                    <input type="color" id="colorpicker" value="#0000ff"> 
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Secondary</label>
                <label for="colorpicker">Color Picker:</label>
                    <input type="color" id="colorpicker" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Tertiary</label>
                <label for="colorpicker">Color Picker:</label>
                    <input type="color" id="colorpicker" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Shadows</label>
                <label for="colorpicker">Color Picker:</label>
                <input type="color" id="colorpicker" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Accent</label>
                <label for="colorpicker">Color Picker:</label>
                    <input type="color" id="colorpicker" value="#0000ff">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUserVerified">Background</label>
                    <label for="colorpicker">Color Picker:</label>
                    <input type="color" id="colorpicker" value="#0000ff">
            </div>
        </div>
    </div>
</form>