<div id="dvContentColour" class="content">
    <div class="field">
        <label class="label" for="colPrimary">Background</label>
        <div class="control">
            <input type="color" id="colPrimary" value="{{.Data.Colour.Primary.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colSecondary">Secondary</label>
        <div class="control">
            <input type="color" id="colSecondary" value="{{.Data.Colour.Secondary.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colTertiary">Tertiary</label>
        <div class="control">
            <input type="color" id="colTertiary" value="{{.Data.Colour.Tertiary.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colShadows">Shadows</label>
        <div class="control">
            <input type="color" id="colShadows" value="{{.Data.Colour.Shadows.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colAccent">Accent</label>
        <div class="control">
            <input type="color" id="colAccent" value="{{.Data.Colour.Accent.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colBackground">Background</label>
        <div class="control">
            <input type="color" id="colBackground" value="{{.Data.Colour.Background.Hex}}">
            <p class="help is-danger"></p>
        </div>
    </div>
</div>