<form id="frmEntityAddress" role="form">
<button type="button" class="button is-info is-small" id="btnAddContact">Add Info</button>
<hr />
<div id="dvEntityAddress" class="content">
    <div class="field">
        <div class="control">
            <label class="label" for="txtAddress">Address</label>
            <input class="input" type="text" id="txtAddress" placeholder="Address" required
                value="{{.Data.Addresses}}" />
            <p class="help is-danger"></p>
        </div>
    </div>
</div>
</form>