<form id="frmEntityAddress" role="form">
    <hr />
    <div id="dvEntityAddress" class="content">
        <div class="field">
            <div class="control">
                <label class="label" for="numStreet">Street</label>
                <input class="input" type="number" id="numStreet" placeholder="Street Name" required
                    value="{{.Data.Address.Street}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtUnit">Unit No.</label>
                <input class="input" type="text" id="txtUnit" placeholder="Unit no." required
                    value="{{.Data.Address.UnitNo}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtEstate">Estate Name</label>
                <input class="input" type="text" id="txtEstate" placeholder="Estate Name" required
                    value="{{.Data.Address.EstateName}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtSuburb">Suburb</label>
                <input class="input" type="text" id="txtSuburb" placeholder="Suburb" required
                    value="{{.Data.Address.Suburb}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtCity">City</label>
                <input class="input" type="text" id="txtCity" placeholder="City" required
                    value="{{.Data.Address.City}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtProvince">Address</label>
                <input class="input" type="text" id="txtProvince" placeholder="Province" required
                    value="{{.Data.Address.Province}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtCoordinates">Coordinates</label>
                <input class="input" type="text" id="txtCoordinates" placeholder="Coordinates" required
                    value="{{.Data.Address.Coordinates}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="txtIsDelivery">
                    <input class="checkbox" type="checkbox" id="txtIsDelivery" required
                        value="{{.Data.Adress.IsDelivery}}" />Delivery</label>
                <p class="help is-danger"></p>
            </div>
        </div>
    </div>
</form>