<button type="button" class="button is-info is-small" id="btnAddEndpoint">Add Endpoint</button>
<hr/>
<div class="content" id="dvEndpoints">
    {{range $i, $v := .Data.Endpoints}}
        <br/>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{$v.Key}}
                </p>
                <a class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-content" hidden>
                <div class="content">
                    <div class="field">
                        <label class="label">Name:</label>
                        <div class="control">
                            <input class="input txtEndpointName{{$i}}" placeholder="Name" type="text" min-length="3"
                                   required
                                   value="{{$v.Key}}"/>
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Value:</label>
                        <div class="control">
                            <input class="input txtEndpointValue{{$i}}" type="text" min-length="3"
                                   required
                                   value="{{$v.Value}}"/>
                            <p class="help is-danger"></p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#{{$i}}" class="card-footer-item">Delete</a>
            </footer>
        </div>
    {{end}}
</div>