<button type="button" id="btnAddAddress" class="button is-info is-small">Add</button>
{{range $key, $val := .Data.Addresses}}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{$val.Street}}
            </p>
            <a class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </a>
        </header>
        <div class="card-content" hidden>
            <div class="content">
                <div class="field">
                    <label class="label" for="intStreetNo{{$key}}">Street No</label>
                    <div class="control">
                        <input class="input" type="text" id="intStreetNo{{$key}}" required value="{{$val.StreetNo}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtStreet{{$key}}">Street Name</label>
                    <div class="control">
                        <input class="input" type="text" id="txtStreet{{$key}}" required value="{{$val.Street}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtUnitNo{{$key}}">Unit No</label>
                    <div class="control">
                        <input class="input" type="text" id="txtUnitNo{{$key}}" required value="{{$val.UnitNo}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtEstateName{{$key}}">Estate Name</label>
                    <div class="control">
                        <input class="input" type="text" id="txtEstateName{{$key}}" required
                               value="{{$val.EstateName}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtSuburb{{$key}}">Suburb</label>
                    <div class="control">
                        <input class="input" type="text" id="txtSuburb{{$key}}" required value="{{$val.Suburb}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtCity{{$key}}">City</label>
                    <div class="control">
                        <input class="input" type="text" id="txtCity{{$key}}" required value="{{$val.City}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtProvince{{$key}}">Province</label>
                    <div class="control">
                        <input class="input" type="text" id="txtProvince{{$key}}" required value="{{$val.Province}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtPostalCode{{$key}}">Postal Code</label>
                    <div class="control">
                        <input class="input" type="text" id="txtPostalCode{{$key}}" required
                               value="{{$val.PostalCode}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtCoordinates{{$key}}">Coordinates</label>
                    <div class="control">
                        <input class="input" type="text" id="txtCoordinates{$key}}" required
                               value="{{$val.Coordinates}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="txtIsDelivery{{$key}}">Delivery Address</label>
                    <div class="control">
                        <input class="input" type="text" id="txtIsDelivery{{$key}}" required
                               value="{{$val.IsDelivery}}"/>
                        <p class="help is-danger"></p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" row-id="$key" class="card-footer-item Delete">Delete</a>
            </footer>
        </div>
    </div>
{{end}}